.camiseta_pokemon {
    width: 150px;
    height: 150px;
    background-image: url(../imgcarrinho/camiseta-pokemon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.caneca_starwars {
    width: 150px;
    height: 150px;
    background-image: url(../imgcarrinho/canecastarwars.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

li {
    margin-left: 25px;
}

a {
    color: black;
    text-decoration: none;
}

.d-flex::placeholder {
    color: black;
}