@font-face {
    font-family: Urbanist;
    src: url(../fonts/Urbanist-VariableFont_wght.ttf);
}

@font-face {
    font-family: Silkscreen;
    src: url(../fonts/Silkscreen-Regular.ttf);
}

:root {
    --cor-principal: #F55800;
}

header {
    background: linear-gradient(to bottom, #000, #00000032);
}

header .nav .nav-link {
    /* border-radius: 10px; */
    transition: 0.3s all ease-in-out;
    text-underline-offset: 50px;
}

header .nav .nav-link:hover {
    background-color: var(--cor-principal);
    text-decoration: underline;
    text-underline-offset: 5px;
}

#header-loja:hover {
    background-color: #3FE1D1;
}

body * {
    font-family: Urbanist;
}

footer {
    background-image: linear-gradient(to top, #0F5A53 0.52%, #1A1A1A 30.96%);
}